@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

#concealer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #efefef;
  color: #333333;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  z-index: 9999;
  width: 100%;
  height: 100%;
}
